<div id="activity" class="news box">
  <h3><%= t :latest_activities %></h3>
  <% events_by_day.keys.sort.reverse.each do |day| %>
    <h4><%= format_activity_day(day) %></h4>
    <dl>
    <% events_by_day[day].sort {|x,y| y.event_datetime <=> x.event_datetime }.each do |e| -%>
      <%= render :partial => '/common/activity', :object => e %>
    <% end -%>
    </dl>
  <% end %>
</div>